ANTHROPIC_API_KEY=
PUBLIC_SITE_URL=
RESEND_API_KEY=
BOOKINGS_TO_EMAIL=
BOOKINGS_FROM_EMAIL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
PUBLIC_SHOP_PHONE=3605436990
PUBLIC_SHOP_ADDRESS_LINE1=710 Sunset Pond Ln
PUBLIC_SHOP_CITY=Bellingham
PUBLIC_SHOP_STATE=WA
PUBLIC_SHOP_ZIP=98226
